.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 10px;
}

    .header h1 {
        margin-top: 0px;
        margin-bottom: 15px;
    }



/*��������������Ϣ��box*/
.boxContainer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    gap: -20px;
    padding-top: 10px;
}
.left-container{
    margin-left:1em;
}
.right-container {
    justify-content: center; /* ��ֱ���ж��� */
    align-items: center; /* ˮƽ���ж��� */
    gap: 15px; /* ������Ԫ��֮�������� */
    padding-top: 10px;
    height: 100%;
    box-sizing: border-box; 
}

.photoFrame {
    border: none;
    border-radius: 6.5px;
    padding: 0;
    background-color: white;
    height: 130px;
    width: 100px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover; /* �ñ���ͼ��������� */
    background-position: center; /* ���ж��뱳��ͼ�� */
    background-repeat: no-repeat; /* ���ظ�����ͼ�� */
}


.newButton {
    padding: 7px 3px;
    background-color: #AFAFAF;
    color: white;
    font-weight: 500;
    font-size: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

    .newButton:hover {
        background-color: #074FB3;
    }

.btnPair {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*description�ı߿�*/
.dspFrame {
    border: none;
    border-radius: 6.5px;
    padding: 10px; /* �ڱ߾� */
    background-color: white;
    width: 270px; /* ��ȥ�����ڱ߾� */
    height: 180px;
    box-sizing: border-box; /* �����ڱ߾�ͱ߿� */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    position: relative;
    overflow: auto; /* ���ù����� */
}

#displayText,
#editInput {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
}

#displayText {
    display: block;
}

#editInput {
    display: block;
    position: static;
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    outline: none; /* ȥ������߿�!!! */
}
