body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #F7F8FA;
  width: 460px;  /* 400px - 2 * 10px padding */
  height: 340px; /* 300px - 2 * 10px padding */
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 27.6px;
}

h1 {
  font-size: 2.0rem;
  margin: 0;
}

#searchInput {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 10px 0;
  font-size: 1.4rem;
}

#personaList {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 240px;
}

/* 单个persona */
.persona {
	display: flex;
	align-items: center;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

	.persona:hover {
		background-color: #f0f0f0;
	}

.avatar {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 1rem; /* 调整图片与其他信息之间的间距 */
}

.persona-info {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-between;
}

	.persona-info > span {
		margin-right: 0.1rem; 
		flex: 1;
		text-align: left;
	}

.name {
	font-weight: bold;
	font-size: 1rem;
	margin-right: 1rem;
}

.age {
	font-size: 1rem;
	margin-right: 0.1rem;
}

.occupation {
	font-size: 1rem;
	margin-right: 1rem;
	flex-basis: 10px; /* 控制occupation所占的宽度 */
	margin-left: 1px;
}

.location {
	font-size: 1rem;
	flex-basis: 0px; /* 控制location所占的宽度 */
}


.activate-btn {
	display: none;
	/*使得内部元素并排*/
	align-items: center;
	margin-left: auto;
	padding: 8px 2px;
	font-size: 1px;
	cursor: pointer;
	border-radius: 4px;
	background-color: white;
	color: black;
	border: 1px solid #AFAFAF;
}

/*控制图标和文本之间的距离*/
.activate-btn i{
	margin-right: 0px;
}

.persona:hover .activate-btn {
  display: inline-flex;
}
/*:hover是一个整体*/
.activate-btn:hover {
  background-color: #cfcfcf; 
}
/*将鼠标悬停在 .persona 元素上时，使 .activate-btn 元素的显示模式变为 inline-block，从而使它可见*/

html {
	font-size: 10px;
}

.newPersona {
	display: flex;
	align-items: center;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
}

	.newPersona:hover {
		background-color: #f0f0f0;
	}

.text {
	display: flex;
	align-items: center;
	justify-content: center; 
	text-align: center; 
	flex-grow: 1; 
}

.textItem {
	font-size: 1.5em;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block; /* 文本项不换行 */
}

	.textItem:first-child {
		margin-right: 3px; 
	}

	.textItem:last-child {
		color: #0078C8;
	}


.context-menu {
	position: absolute;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #E9E9E9;
	z-index: 1000;
	width: 100px;
}

.context-item {
	padding: 7px;
	cursor: pointer;
}

	.context-item:hover {
		background-color: #f0f0f0;
	}
