.bgContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 50px); /* 每行高度为 50px */

    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding-top: 0px;
}
.component {
    display: flex;
    align-items: center;
    margin-bottom: -0px;
}